{{ ansible_managed | comment }}
[Unit]
Description=prometheus-net-discovery
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
PIDFile=/var/run/karma.pid
User={{ karma_system_user }}
Group={{ karma_system_group }}
PermissionsStartOnly=true
EnvironmentFile=/etc/default/prometheus-net-discovery
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/prometheus-net-discovery

SyslogIdentifier=karma
KillMode=process
Restart=always
RestartSec=5

LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
