{{ ansible_managed | comment }}
[Unit]
Description=prometheus-net-discovery
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
PIDFile=/var/run/prometheus_net_discovery.pid
User={{ prometheus_net_discovery_system_user }}
Group={{ prometheus_net_discovery_system_group }}
PermissionsStartOnly=true
EnvironmentFile=/etc/default/prometheus-net-discovery
ExecStart=/usr/local/bin/prometheus-net-discovery
ExecStartPre=-/bin/mkdir {{ prometheus_net_discovery_filesdpath }}
ExecStartPre=-/bin/chown {{ prometheus_net_discovery_system_user }} {{ prometheus_net_discovery_filesdpath }}
ExecStartPre=-/bin/chmod 755 {{ prometheus_net_discovery_filesdpath }}

SyslogIdentifier=prometheus-net-discovery
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
